{% extends "basePrivate.html.twig" %}

{% block body %}
    <div class="row">
    
        <div class="mb-auto p-2 col-xs-12 col-md-6">
            <div class="container rounded bg-light p-4 d-flex flex-column">
                <div class="mb-auto p-2">
                    <h4>Grupy</h4>
                    <p class="p-2"> Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć 
                    wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował 
                    się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-primary" href="{{path('groups', { 'page': 1})}}" role="button">Przejdź</a>
                </div>
            </div>
        </div>

        <div class="mb-auto p-2 col-xs-12 col-md-6">
            <div class="container rounded bg-light p-4 d-flex flex-column">
                <div class="mb-auto p-2">
                    <h4>Księga dzieci</h4>
                    <p class="p-2"> Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć 
                    wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował 
                    się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p></div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-primary" href="{{path('childrenbook', { 'page': 1})}}" role="button">Przejdź</a>
                </div>
            </div>
        </div>
    
    </div>

    <div class="row">
    
        <div class="mb-auto p-2 col-xs-12 col-md-6">
            <div class="container rounded bg-light p-4 d-flex flex-column">
                <div class="mb-auto p-2">
                    <h4>Plan zajęć</h4>
                    <p class="p-2"> Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć 
                    wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował 
                    się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p>    
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-primary" href="#" role="button">Przejdź</a>
                </div>
            </div>
        </div>
    
        <div class="mb-auto p-2 col-xs-12 col-md-6">
            <div class="container rounded bg-light p-4 d-flex flex-column">
                <div class="mb-auto p-2">
                    <h4>Kadra</h4>
                    <p class="p-2"> Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć 
                    wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował 
                    się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p>
                    </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-primary" href="{{ path('personnel', {'page' : 1}) }}" role="button">Przejdź</a>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row">
    
        <div class="mb-auto p-2 col-xs-12 col-md-6">
            <div class="container rounded bg-light p-4 d-flex flex-column">
                <div class="mb-auto p-2">
                    <h4>Rozliczenia</h4>
                    <p class="p-2"> Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć 
                    wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował 
                    się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p>
                    </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-primary" href="{{path('settlement', { 'modifier': 0, 'page': 1})}}" role="button">Przejdź</a>
                </div>
            </div>
        </div>

        <div class="mb-auto p-2 col-xs-12 col-md-6">
            <div class="container rounded bg-light p-4 d-flex flex-column">
                <div class="mb-auto p-2">
                    <h4> ? </h4>
                    <p class="p-2"> Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                    Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć 
                    wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował 
                    się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p>    
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-primary" href="#" role="button">Przejdź</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}