
{% extends "basePrivate.html.twig" %}

{% block body %}
<div class="vstack gap-2">
    <div class="container rounded bg-white">
        <h1>Hello in Twig</h1>
    </div>
        
    <div class="hstack gap-2">
        <div class="container rounded bg-white">
            <h1>Hello in Twig</h1>
        </div>
        <div class="container rounded bg-white">
            <h1>Hello in Twig</h1>
        </div>
    </div>
</div>
{% endblock %}