<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Praca inżynierska
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="style.css" /> 
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light ">
			<div class="container-fluid mx-3 ">
				<a href="#" class="navbar-brand mx-3 px-2">
					<img class="m-2"  height="100" src="{{'/images/Przedszkole.png'}}" ></img>
				</a>
				<button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<div class="mx-auto">
						<ul class="navbar-nav mb-2 mb-lg-0  ">
							<li class="nav-item" >
							<a class="nav-link" aria-current="page" href="#">Aktualności</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Przedszkole
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="#">Opłaty</a></li>
									<li><a class="dropdown-item" href="#">Rekrutacja</a></li>
									<li><a class="dropdown-item" href="#">Statut</a></li>
									<li><a class="dropdown-item" href="#">Kadra</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Żłobek
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="#">Opłaty</a></li>
									<li><a class="dropdown-item" href="#">Rekrutacja</a></li>
									<li><a class="dropdown-item" href="#">Statut</a></li>
									<li><a class="dropdown-item" href="#">Kadra</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="#">Kontakt</a>
							</li>
						</ul>
					</div>
					
						<div class="mx-end">
							<a class="btn btn-warning bg-gradient text-white fw-bold" href="login" role="button">Zaloguj</a>
						</div>
				</div>
			</div>
		</nav>

		<div class="container-fluid"> 
            {% block body %}{% endblock %}
		</div>

		<div class="container-fluid">
			<footer class="py-3 my-4 bg-primary bg-opacity-75">
			
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item">
						<a href="#" class="nav-link px-2 text-white">Aktualności</a>
					</li>
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Przedszkole
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Opłaty</a></li>
								<li><a class="dropdown-item" href="#">Rekrutacja</a></li>
								<li><a class="dropdown-item" href="#">Statut</a></li>
								<li><a class="dropdown-item" href="#">Kadra</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Żłobek
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Opłaty</a></li>
								<li><a class="dropdown-item" href="#">Rekrutacja</a></li>
								<li><a class="dropdown-item" href="#">Statut</a></li>
								<li><a class="dropdown-item" href="#">Kadra</a></li>
							</ul>
						</li>
					<li class="nav-item">
						<a href="#" class="nav-link px-2 text-white">Kontakt</a>
					</li>	
				</ul>
				
				<p class="text-center text-white">&copy; 2021 Company, Inc</p>
			</footer>
		</div>
	</body>
</html>
